/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    font-size: var(--text-base-size);
    line-height: 1.6;
    color: var(--dark-gray);
    background-color: var(--white);
}

/* Tipografia */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--primary-blue);
    margin-bottom: var(--spacing-md);
    line-height: 1.2;
}

h1 { font-size: 2.5rem; } /* 40px */
h2 { font-size: 2rem; }   /* 32px */
h3 { font-size: 1.75rem; }/* 28px */

p {
    margin-bottom: var(--spacing-sm);
}

a {
    color: var(--primary-red);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-blue);
}

ul {
    list-style: none;
}

/* Container para centralizar conteúdo */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
}
